@charset "UTF-8";

/* --------------------CFG GERAL------------------- */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(255, 255, 255); */
    background-image: url(../imagens/transferir.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}




/* PAI 
ESSA CAIXA SE ADAPTA AO TAMANHO DO CONTEUDO , SE O CONTEUDO AUMENTA A CAIXA AUMENTA TAMBEM SO PRECISA COLOCAR O DISPLAY FLEX*/
.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* border: 1px solid black; */
    /* background-color: rgba(0, 0, 0, 0.256); */
}


/* FILHO */
.card{
    width: 400px;
    height: 300px;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

/* TITULO DO FILHO */
.card h2 {
    text-align: center;
    margin-bottom: 20px;
    color:rgba(0, 0, 0, 0.848) ;
}

.card form{
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* CAMPO DE TEXTO E SENHA */
.card input[type="text"], 
.card input[type="password"]{
    background-color: rgba(255, 255, 255, 0.879);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
}


/* #btn {
    width: 100%;
    box-sizing: border-box;
    } */

    .card input[type="text"],
    .card input[type="password"],
    .card input[type="submit"],
    #btn {
        width: 100%;
        box-sizing: border-box;
    }

#btn {
    max-width: 90%;
    padding: 8px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
    margin: 0px -25px 0 5px;
    text-align: center;
    align-items:center;
    background: #4169e1;
}

#btn:hover {
    background: #27408b;

}

.card form div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}


div a {
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    color:#27408b ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

div a:hover{
    color: #4169e1;
}


span{
    color: #27408b;
}

@media screen and (max-width: 768px) {
    .card{
        width: 300px;
        height: 320px;
    }
}















